/* . = class, # = id, tag name = element */
body {
  background-color: black;
  color: white;
}
/* Element Selector */
span {
  color: crimson;
}
p {
  color: crimson;
}

/* Class Selector */
.class-name {
  color: crimson;
}
.class-name {
  color: crimson;
}

/* ID Selector */
#id-name {
  color: crimson;
}
/* Universal Selector */
/* is easily overriden  */

* {
  color: crimson;
}

[href] {
  background-color: aliceblue;
}

/* Attribute Selector */
/* targetting specific elements with the href attribute */
h3[href] {
  color: plum;
}
/* target elements with the href attribute */
[href] {
  color: white;
  background-color: brown;
}

/* targetting a specific element with a specific attribute value */
h3[href="www.example.com"] {
  color: tomato;
}
/* h3[href] = h3 tags with href attribute
[href] = any tag with href attribute

With CSS, they prioritize more specific blocks 😄, and rule 1 is more specific than rule 2 (h3 VS any) */

/* Grouping Selector */
h1,
h2,
.parag {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Descendant Selector */
div h3 {
  color: chartreuse;
}
.ancestor h3 {
  color: chartreuse;
}

button:hover {
  background: pink;
  color: aquamarine;
}
#pseudo-element::before {
  content: "😄";
}
#pseudo-element::after {
  content: "😄";
}
